/* header */
header{
    width: 75%;
    margin: 20px auto;
}

/* label's */
label{
    font-size: 1em;
    font-weight: bold;
}

/* input's */
.form-control{
    border-radius: 20px;
    border-color: #000;
}

/* textarea */
textarea{
    white-space: pre-wrap;
}

/* todos btn */
.btn-outline-dark{
    border-radius: 20px;
    font-weight: bold;
}

/* btn adicionar disciplina */
#btnAddDisciplina{
    margin-bottom: 16px;
}