/* header */
header{
    width: 80%;
    margin: 20px auto;
}

/* label's */
label{
    font-size: 1em;
    font-weight: bold;
}

/* todos btn */
.btn-outline-dark{
    border-radius: 20px;
    font-weight: bold;
}

/* section do btn para voltar ao topo da pag */
secao-btn-topo{
    background: rgba(0, 0, 0, 0);
}